* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-comunidades {
  height: 50px;
  background: white;
  margin: 16px;
  text-align: center;
  border-style: solid;  
  border-color: white;  
  border-radius: 0.2em;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(126, 27, 97, 0.75);
  -moz-box-shadow:    2px 2px 4px 0px rgba(126, 27, 97, 0.75);
  box-shadow:         2px 2px 4px 0px rgba(126, 27, 97, 0.75);
}

.logo-comunidades-size {
  height: 40px;
  margin-top: 2px;
}

.logo-unr {
  height: 50px;
  background: white;
  margin: 16px;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 0.2em;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(126, 27, 97, 0.75);
  -moz-box-shadow:    2px 2px 4px 0px rgba(126, 27, 97, 0.75);
  box-shadow:         2px 2px 4px 0px rgba(126, 27, 97, 0.75);
}

.logo-unr-size {
  height: 40px;
  margin-top: 2px;
}

.logo-bbb-size {
  height: 25px;
}

.site-layout .site-layout-background {
  background: #141414;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

  .login {
    height: 100%;
    background-color: #0741AD;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
    color: white;
    font-size: 2em;
  }
  
  .login-form {
    margin-bottom: 20px;
  }
  
  .login-copyright {
    font-size: 0.7rem;
    color: #6c757d !important;
  }

  .site-card-wrapper {
    padding: 30px;
  }