body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-comunidades {
  height: 50px;
  background: white;
  margin: 16px;
  text-align: center;
  border-style: solid;  
  border-color: white;  
  border-radius: 0.2em;
}

.logo-comunidades-size {
  height: 40px;
  margin-top: 2px;
}

.logo-unr {
  height: 50px;
  background: white;
  margin: 16px;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 0.2em;
}

.logo-unr-size {
  height: 40px;
  margin-top: 2px;
}

.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

  .login {
    height: 100%;
    background-color: #0741AD;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-title {
    color: white;
    font-size: 2em;
  }
  
  .login-form {
    margin-bottom: 20px;
  }
  
  .login-copyright {
    font-size: 0.7rem;
    color: #6c757d !important;
  }